body {
  font-family: 'Courier New', sans-serif;
}

table {
  width: 100%;
}

td {
  padding: 5px;
  overflow: hidden;
}

th#volume {
  width: 70%;
}

div.bloedvolume {
  background: red;
  height: 20px;
  padding: 5px 0;
  color: white;
  width: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

#hart {
  width: 364px;
  background: #E27C49;
}

#hart tr:first-child td {
  border: 1px solid red;
  padding: 10px;
}

#hart tr td {
  border: 5px inset #DE371E;
  background: #D30000;
  padding: 10px 20px;
  color: #fff;
}

#hart tr td.hartslag {
  background: red;
  text-align: center;
  padding: 10px;
}

#hart tr.kamers td {
  padding: 60px 20px;
}